@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/halloween_bg.jpg');
    background-repeat: no-repeat;
    background-size: 100vh auto;
    background-position: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    display: flex;
    justify-content: center;
    font-size: 16px;

}

#main-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
    width: 30vw;
    min-width: 330px;
    height: 99%;
    min-height: 400px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

header {
    margin-top: 4vh;
}

h1 {
font-family: creepster;
color: rgb(200, 0, 0);
font-size: 2.4rem;
}

h2 {
font-family: "Shadows Into Light";
color: rgb(255, 255, 255);
font-size: 1.6rem;
}

.info-container {
    font-family: "Shadows Into Light";
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
    color: white;
}
#points {
    display: flex ;
    flex-direction: row;
    column-gap: 10px;
}
#body-parts {
    display: flex ;
    flex-direction: row;
}

.zombie-meter {
    margin-right: 10px;
}

#zombie-img img {
    margin-top: 3vh;
    margin-bottom: 4vh;
    max-height: 200px;
}

.letter-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    width: 2vw;
    min-width: 20px;
    height: 5vh;
    align-items: center;
    border-bottom: 2px solid rgb(255, 255, 255);
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-transform: uppercase;
}

#inputs {
    display: flex;
    justify-content: space-evenly;
    column-gap: 10px;
    text-align: center;
    align-items: start;
    margin-top: 3vh;
}

#keys-container {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.4vw;
    row-gap: 0.4vw;
    margin: 15px;
    margin-top: 7vh;
}

.key {
    padding: 0.7vw;
    min-height: 30px;
    min-width: 30px;
    border: 1px solid rgb(109, 109, 109);
    border-radius: 0.2vw;
    font-weight: 700;
    color: black;
    background-color: rgb(212, 212, 212);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5), 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.found {
    background-color: rgb(87, 160, 109);
    color: white;
    box-shadow: none;
}

.not-found {
    background-color: rgb(61, 61, 61);
    color: rgb(121, 121, 121);
    box-shadow: none;
}

.key:hover {
    background-color: rgba(195, 228, 210, 0.9);
    box-shadow: 0 0 3px 1px rgba(255, 136, 0, 0.3);
    font-weight: 700;
    color: black;
    cursor: pointer;
}

.found:hover {
    box-shadow: none;
    cursor: none;
    background-color: rgb(87, 160, 109);
    color: white;
}

.not-found:hover {
    box-shadow: none;
    cursor: none;
    background-color: rgb(61, 61, 61);
    color: rgb(121, 121, 121);
}

